<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyang.zero.mapper.BlogArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.moyang.zero.bo.BlogArticleBo">
        <result column="id" property="id" />
        <result column="create_at" property="createAt" />
        <result column="create_by" property="createBy" />
        <result column="update_at" property="updateAt" />
        <result column="update_by" property="updateBy" />
        <result column="del_flag" property="delFlag" />
        <result column="remarks" property="remarks" />

        <result column="article_title" property="articleTitle" />
        <result column="article_des" property="articleDes" />
        <result column="article_content" property="articleContent" />
        <result column="author" property="author" />
        <result column="article_text" property="articleText" />
        <result column="article_type" property="articleType" />
        <result column="article_status" property="articleStatus" />
        <result column="cover_url" property="coverUrl" />
        <result column="publish_type" property="publishType" />
        <result column="quote" property="quote" />
        <result column="publish_time" property="publishTime" />
        <result column="category" property="category" />
        <result column="sort_index" property="sortIndex" />

        <result column="read_count" property="readCount" />
        <result column="user_count" property="userCount" />
        <result column="click_count" property="clickCount" />
        <result column="collect_count" property="collectCount" />
        <result column="like_count" property="likeCount" />
        <result column="comment_count" property="commentCount" />

        <result column="vip_code" property="vipCode" />
        <result column="avatar" property="authorAvatar" />
        <result column="nick_name" property="nick" />

        <collection property="tags" column="id" select="selectTagsByBlogId"></collection>
    </resultMap>

    <select id="selectTagsByBlogId" resultType="java.lang.String">
        SELECT
            article_tag
        FROM
            blog_article_tags bat
        WHERE
            bat.del_flag = 0 and bat.article_id=#{id}
    </select>

    <select id="selectBlogAllInfoByPage" resultMap="BaseResultMap">
        select ba.id, ba.create_at, ba.create_by, ba.update_at, ba.update_by, ba.del_flag, ba.remarks,
                        ba.article_title, ba.article_des, ba.article_content, ba.author, ba.article_text,
                        ba.article_type, ba.article_status, ba.cover_url, ba.publish_type, ba.quote, ba.publish_time,
        ba.category, ba.sort_index, ba.click_count, ba.read_count, ba.user_count, ba.like_count,
        ba.comment_count, ba.collect_count, bu.avatar, bu.nick_name, bu.vip_code
        from blog_article ba
        join blog_user bu on bu.del_flag = 0 and ba.author = bu.blog_user
        where ba.del_flag = 0
        <if test="param.author != null and param.author != ''">
            and ba.author = #{param.author}
        </if>
        group by ba.id
        <choose>
            <when test="param.sortColumn != null and param.sortColumn != ''">
                order by #{param.sortColumn}
            </when>
            <otherwise>
                order by ba.id
            </otherwise>
        </choose>
        <if test="param.isDesc == true ">
            desc
        </if>

    </select>

    <select id="selectBlogAllInfoById" resultMap="BaseResultMap">
        select distinct  ba.id, ba.create_at, ba.create_by, ba.update_at, ba.update_by, ba.del_flag, ba.remarks,
        ba.article_title, ba.article_des, ba.article_content, ba.author, ba.article_text,
        ba.article_type, ba.article_status, ba.cover_url, ba.publish_type, ba.quote, ba.publish_time,
        ba.category, ba.sort_index, ba.click_count, ba.read_count, ba.user_count, ba.like_count,
        ba.comment_count, ba.collect_count, bu.avatar, bu.nick_name, bu.vip_code
        from blog_article ba
        join blog_user bu on bu.del_flag = 0 and ba.author = bu.blog_user
        where ba.del_flag = 0
        <if test="blogId != null and blogId != ''">
            and ba.id = #{blogId}
        </if>
        <if test="author != null and author != ''">
            and ba.author = #{author}
        </if>
    </select>
</mapper>
