.blog-main-content {
    width: 1630px;
    height: 100%;
    min-height: calc(100vh - 121px);/*高度自适应*/
    margin: 0 auto;
    padding-top: 80px;
}

.article-read-card {
    .markdown-body{
        background-color: unset;
    }
}
.href-link-text{
    cursor: pointer;
}
.href-link-text:hover{
    color: #00a4ff;
}
.blog-right-card {
    width: 1180px;
}

@media screen and (max-width: 1630px) {
    .blog-right-card {
        width: 1480px;
    }
}

@media screen and (max-width: 1480px) {
    .blog-right-card {
        width: 1130px;
    }
}

@media screen and (max-width: 1130px) {
    .blog-right-card {
        width: 780px;
    }
}

@media screen and (max-width: 780px) {
    .blog-right-card {
        width: 430px;
    }
}



@media screen and (max-width: 1630px) {
    .blog-main-content {
        width: 1480px;
    }
}

@media screen and (max-width: 1480px) {
    .blog-main-content {
        width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .blog-main-content {
        width: 720px;
    }
}

@media screen and (max-width: 720px) {
    .blog-main-content {
        width: 640px;
    }
}

@media screen and (max-width: 640px) {
    .blog-main-content {
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .blog-main-content {
        width: 480px;
    }
}
@media screen and (max-width: 480px) {
    .blog-main-content {
        width: 360px;
    }
}

@media screen and (max-width: 360px) {
    .blog-main-content {
        width: 240px;
    }
}

.card-header-title-start {
    text-align: start;
}

.bm-main{
    width: 1440px;
    height: 100%;
    min-height: calc(100vh - 121px);/*高度自适应*/
    margin: 0 auto;
    padding: 20px;
}

.bm-page-main {
    display: grid;
    grid-template-columns: 960px 420px;
    grid-template-rows: 600px auto;
}





